In [5]:
import yfinance as yf #historical stock data lib
import pandas as pd #pandas dataframe lib
import dask.dataframe as dd #dask dataframe lib

spy = yf.download("spy", start="2017-01-01", end="2017-04-30")

spy

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,207.534515,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,208.769211,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,208.603333,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,209.349670,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,208.658646,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,219.477432,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,220.754486,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,220.615677,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,220.800720,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,220.319565,63532800

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30", thread=False)

data

In [131]:
import yfinance as yf
import pandas as pd
import dask.dataframe as dd
from pandas_datareader import data as pdr
from dask.dataframe import from_pandas
from os.path import expanduser

# get dataframe using folder and stock name
# takes csv file and reads + returns the dataframe
def get_dataframe(symbol):
    return pd.read_csv(symbol)

# create excel file using dask and yfinance
# needs to have a time interval set by default
# timeStart and timeEnd are for dates
def create_excel(symbol, timeStart, timeEnd):

    #get dataframe for pandas
    pd = pdr.get_data_yahoo(symbol, start=timeStart, end=timeEnd)
    
    print (pd)
    
    #convert from pandas to dask dataframe
    df = dd.from_pandas(pd, npartitions=3)
    
    #make filepath
    home = expanduser("~")
    
    filename = "\Desktop\\" + symbol + " " + timeStart + " to " + timeEnd
    
    filepath = home + filename + ".csv"
    
    print ("Created in: " + filepath)
    
    #convert to csv file
    df.to_csv(filepath, single_file = True)
    return

In [2]:
create_excel("SPY", '2017-02-01', '2017-02-01')

NameError: name 'create_excel' is not defined

In [128]:
import yfinance as yf
import pandas as pd
import dask.dataframe as dd
import calendar
from pandas_datareader import data as pdr
from dask.dataframe import from_pandas
from os.path import expanduser

# need to create test for this 
# get dataframe using folder and stock name
# takes csv file and reads + returns the dataframe
def get_dataframe(symbol):
    return pd.read_csv(symbol)

# create excel file using dask and yfinance
# needs to have a time interval set by default
# timeStart and timeEnd are for dates
def create_excel(symbol, timeStart, timeEnd):

    #get dataframe for pandas
    pd = pdr.get_data_yahoo(symbol, start=timeStart, end=timeEnd)
    
    print (pd)
    
    #convert from pandas to dask dataframe
    df = dd.from_pandas(pd, npartitions=3)
    
    #change filepath to be user chosen
    #make filepath
    home = expanduser("~")
    
    filename = "\Desktop\\" + symbol + "_" + timeStart + "_to_" + timeEnd
    
    filepath = home + filename + ".csv"
    
    print ("Created in: " + filepath)
    #change filepath to be user chosen
    
    #convert to csv file
    df.to_csv(filepath, single_file = True)
    return

# creates a large set of data
# timeSpan determines month or year
# duration is the # of years/months you want the data for
# user specifies which month and which year
# NOTE: creating data per year and setting a month, the data created will always start at the given
# --month for every year
def populate_data(symbol, timeSpan, duration, dateYear, dateMonth):

    #gets start and end times for specified time month-by-month
    if 'm' in timeSpan:
        for i in range(duration):
            dates = convert_date(dateYear, dateMonth+i)
            create_excel(symbol, dates[0], dates[1])
            
            
    elif 'y' in timeSpan:
        for i in range(duration):
            for x in range(12):
                #makes sure doesnt go over 12
                if dateMonth+x < 13:
                    dates = convert_date(dateYear+i, dateMonth+x)
                    create_excel(symbol, dates[0], dates[1])

    return

# takes a year and a month
# returns array w/ start and end of that month
def convert_date(year, month):
    
    startDate = ''
    endDate = calendar.monthrange(year, month)[1]
    
    if endDate < 10:
        endDate = "0" + str(date)
    
    if month < 10:
        month = "0" + str(month)
    
    endDate = str(year) + '-' + str(month) + '-' + str(endDate)
    startDate = str(year) + '-' + str(month) + '-' + "01"
    
    dates = [startDate, endDate]
    
    print(dates)
    
    return dates

In [129]:
populate_data('SPY','m', 2, 2008, 2)
#populate_data('y', 2, 2010, 4)

['2008-02-01', '2008-02-29']
                  High         Low        Open       Close     Volume  \
Date
2008-02-01  139.610001  137.520004  137.940002  139.580002  206843600
2008-02-04  139.300003  137.639999  139.210007  137.820007  124694300
2008-02-05  136.250000  133.669998  135.940002  134.130005  286882500
2008-02-06  135.250000  132.410004  134.580002  133.050003  250792900
2008-02-07  134.789993  131.729996  131.800003  133.929993  297368100
2008-02-08  134.220001  132.100006  133.089996  133.070007  221643500
2008-02-11  134.229996  132.039993  133.100006  133.750000  188576300
2008-02-12  136.309998  133.979996  134.910004  134.990005  256654400
2008-02-13  137.059998  135.139999  136.009995  136.369995  181967800
2008-02-14  137.000000  134.789993  136.949997  135.169998  215207200
2008-02-15  135.220001  133.910004  134.500000  135.139999  154110300
2008-02-19  136.889999  134.610001  136.720001  135.520004  145190000
2008-02-20  136.550003  133.759995  133.990005  135.919998  220085700
2008-02-21  137.009995  134.070007  136.660004  134.789993  201051200
2008-02-22  135.850006  132.860001  134.970001  135.619995  205491000
2008-02-25  137.649994  134.779999  135.539993  137.330002  190107000
2008-02-26  138.949997  136.500000  136.750000  138.360001  212420700
2008-02-27  139.139999  137.410004  137.559998  138.220001  168395800
2008-02-28  137.960007  136.550003  137.240005  136.869995  170831100
2008-02-29  135.679993  132.779999  135.600006  133.820007  252715200

             Adj Close
Date
2008-02-01  106.372528
2008-02-04  105.031242
2008-02-05  102.219116
2008-02-06  101.396072
2008-02-07  102.066689
2008-02-08  101.411301
2008-02-11  101.929504
2008-02-12  102.874542
2008-02-13  103.926208
2008-02-14  103.011703
2008-02-15  102.988815
2008-02-19  103.278397
2008-02-20  103.583267
2008-02-21  102.722084
2008-02-22  103.354630
2008-02-25  104.657814
2008-02-26  105.442764
2008-02-27  105.336052
2008-02-28  104.307259
2008-02-29  101.982895
Created in: C:\Users\Ricky Wei\Desktop\SPY_2008-02-01_to_2008-02-29.csv
['2008-03-01', '2008-03-31']
                  High         Low        Open       Close       Volume  \
Date
2008-03-03  133.809998  132.240005  133.139999  133.500000  189483500.0
2008-03-04  133.399994  130.990005  132.229996  132.990005  282513100.0
2008-03-05  134.770004  132.339996  133.419998  133.830002  270681400.0
2008-03-06  133.220001  130.550003  132.979996  131.059998  247911700.0
2008-03-07  131.740005  128.580002  129.770004  129.710007  326434600.0
2008-03-10  129.929993  127.589996  129.839996  128.000000  235683600.0
2008-03-11  132.720001  128.949997  130.720001  132.600006  341440600.0
2008-03-12  133.770004  131.160004  132.740005  131.360001  229161100.0
2008-03-13  132.639999  128.600006  129.610001  131.649994  351504200.0
2008-03-14  132.809998  127.779999  132.770004  129.610001  484687800.0
2008-03-17  129.259995  126.070000  126.570000  128.300003  405311100.0
2008-03-18  133.690002  129.979996  130.619995  133.630005  334416600.0
2008-03-19  134.649994  130.039993  134.139999  130.320007  345971600.0
2008-03-20  132.910004  129.259995  130.050003  132.080002  245320700.0
2008-03-24  135.809998  133.240005  133.309998  134.720001  208977300.0
2008-03-25  135.550003  133.770004  134.860001  134.850006  192947200.0
2008-03-26  135.089996  133.110001  134.460007  133.199997  196934300.0
2008-03-27  134.440002  132.360001  134.199997  132.779999  225153200.0
2008-03-28  133.360001  131.059998  132.990005  131.509995  180896100.0
2008-03-31  132.729996  131.089996  131.289993  131.970001  166692100.0

             Adj Close
Date
2008-03-03  101.738991
2008-03-04  101.350327
2008-03-05  101.990486
2008-03-06   99.879517
2008-03-07   98.850670
2008-03-10   97.547493
2008-03-11  101.053146
2008-03-12  100.108147
2008-03-13  100.329140
2008-03-14   98.774460
2008-03-17   97.776138
2008-03-18  101.838058
2008-03-19   99.315552
2008-03-20  101.155151
2008-03-24  103.177032
2008-03-25  103.276619
2008-03-26  102.012932
2008-03-27  101.691254
2008-03-28  100.718620
2008-03-31  101.070892
Created in: C:\Users\Ricky Wei\Desktop\SPY_2008-03-01_to_2008-03-31.csv