# Yfinance testing

In [5]:
import yfinance as yf #historical stock data lib
import pandas as pd #pandas dataframe lib
import dask.dataframe as dd #dask dataframe lib

spy = yf.download("spy", start="2017-01-01", end="2017-04-30")

spy

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,207.534515,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,208.769211,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,208.603333,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,209.349670,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,208.658646,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,219.477432,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,220.754486,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,220.615677,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,220.800720,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,220.319565,63532800

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30", thread=False)

data

In [27]:
import yfinance as yf
import pandas as pd
import dask.dataframe as dd
from pandas_datareader import data as pdr
from dask.dataframe import from_pandas

# get dataframe using folder and stock name
# takes csv file and reads + returns the dataframe
def get_dataframe(symbol):
    return

# create excel file using dask and yfinance
# needs to have a time interval set by default
# timeStart and timeEnd are for dates
def create_excel(symbol, timeStart, timeEnd):

    #get dataframe for pandas
    pd = pdr.get_data_yahoo(symbol, start=timeStart, end=timeEnd)
    
    #convert from pandas to dask dataframe
    df = dd.from_pandas(pd, npartitions=3)
    
    #convert to csv file
    df.to_csv('/path/to/data/' + symbol + '-*.csv')  
    return

In [29]:
create_excel("SPY", '2017-02-01', '2017-02-01')